* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-box {
    width: 85rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imgB {
    padding: 0.8rem;
}